mat-grid-tile {
    background: lightblue;
  }

container{
    top: 103px;
    left: -1px;
    width: 1378px;
    height: 896px;
    background: #eff2f3 0% 0% no-repeat padding-box;
    opacity: 1;
}
h1
{
    top: 184px;
left: 90px;
width: 297px;
height: 36px;
/* UI Properties */
text-align: left;
font: normal normal normal 32px/20px Proxima Nova;
letter-spacing: 0px;
color: #555555;
opacity: 1;
}
